@import 'reset';

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}


body {
  height: 900px;
  font-family: arial;
  background-color: black;
  background-image: url('../assets/spaceb.jpg');
  // background-size: cover;
  // background-position: center;
}

header {
  height: 200px;
  width: 100%;
  background-color: #9B9B9B;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 5px solid aqua;
  border-radius: 10px;
  & h1 {
     text-align: center;
     font-family: 'Stalinist One', cursive;
     margin: 0 auto;
     width: 90%;
     padding-top: 25px;
     font-size: 70px;
     font-weight: 700;
     color: #9B9B9B;
     -webkit-text-stroke: 2px #585958;
 }
}

button {
  width: 30%;
  height: 50px;
  margin: 5px;
  display: inline-block;
  border-radius: 15px;
}


main {
  background-color: #9B9B9B;
  border-radius: 15px;
  border: 5px solid aqua;
  width: 80%;
  height: 80%;
  max-width: 900px;
  padding: 50px;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}

div#start {
  background-color: #9B9B9B;
  background-image: url('../assets/ricksphere.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 105%;

}
div#game-board {
  padding-top: 100px;
}

h1, h3 {
  margin-top: 0;
}

h3 {
  margin-bottom: 20px;
  color: white;
    &.welcome{
      font-family: 'Eater', cursive;
      font-size: 75px;
      width: 90%;
      margin: 0 auto;
      color: #29e0f3;
      -webkit-text-stroke: 2px #bada55;
    }
    &.result {
      font-family: 'Eater', cursive;
      font-size: 50px;
      margin-bottom: 25px;
      width: 90%;
      margin: 0 auto;
      color: #29e0f3;
      -webkit-text-stroke: 2px #bada55;
    }
  &.councilofjerks {
    font-size: 25px;
  }
}

p {
  color: white;

  &.question-header {
      font-size: 30px;
    }
  &.intro {
    width: 80%;
    color: #00ff00;
    font-family: 'VT323', monospace;
    margin: 0 auto;
    padding-top: 45px;
    font-size: 22px;
  }
  &.flurbo {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  &.jez {
    margin-bottom: 30px;
  }
  span.red{
    color: #ffffff;
  }
}

button {
  background-color: red;
  color: blue;
  border: 1px solid green;
  padding: 6px 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;

  &.answer {
    background-color: #1ab1a5;
    color: #a55;
    border: 1px solid #9155ed;
  }

  &.collectionofdouches {
    width: 30%;
  }
  &.start-button {
    background-color: rgb(72, 72, 72);
    color: #41d;
    border: 3px solid #d11d05;
    background-image: url('../assets/eyesopen.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 6px 8px;
    cursor: pointer;
    height: 150px;
    width: 20%;
    margin: 5px 0;
  }
  &.meeseseeksButton {
    background-color: #63c7ef;
    color: #fe6f1c;
    border: 1px solid #fe6f1c;
    width: 80%;
  }
  &.reset-button {
    width: 40%;
    background-color: #1ab1a5;
    color: #a55;
    border: 1px solid #d11d05;

  }
  &.answer {
    width: calc(50% - 3px);
    &:nth-child(odd) {
      margin-right: 6px;
      float:left;
    }
  }
  &.helper {
    width: calc(33.33% - 4px);
    float:left;

    &:not(:last-of-type) {
      margin-right: 6px;
      height: 100px;
    }
    &.choice1 {
      background-color: #feeb1e;
      border: 6px solid #1d1075;
      background-image: url('../assets/meeseeksbox.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &.choice2{
      background-color: #feeb1e;
      border: 6px solid #1d1075;
      background-image: url('../assets/jerry.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &.choice3 {
      height:100px;
      background-color: #feeb1e;
      border: 6px solid #1d1075;
      background-image: url('../assets/rickcouncil1.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

button:hover {
  color: black;
  font-size: 19px;

  &.start-button {
    border: 5px solid #bada55;
  }
  &.answer {
    background-color: #d3f3c8;
    color: #d11d05;
  }
  &.helper {
    background-color: #23742D;
    border-color: #1d1075;
  }
  &.reset-button {
    background-color: #23742D;
  }
}

button:focus {
  outline: none;
}


video {
  height: 400px;
  width: 700px;
}

.high-score, .score {
  font-weight: bold;
  color: #d11d05;
}

img#audience {
  max-height: 200px;
  width: auto;
}

img.image1 {
  max-height: 75px;

}

.graph {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bar {
  display: inline-block;
  vertical-align: bottom;
  background-color: #d11d05;
  width: 30px;
  height: 0;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 0;
  width: 25%;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.bar:nth-of-type(1) {
  left: 0;
  background-color: yellow;
}

.bar:nth-of-type(2) {
  left: 25%;
  background-color: red;
}

.bar:nth-of-type(3) {
  left: 50%;
  background-color: green;
}

.bar:nth-of-type(4) {
  left: 75%;
  background-color: blue;
}

.options, .results {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.options li, .results li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 10px;
  color: white;
}


footer {
  text-align: center;
  height: 40px;
  color: white;
  background-color: black;
  width: 100%;

}
