@import 'reset';

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}


body {
  height: 900px;
  font-family: arial;
  background-image: url('../assets/space2.jpg');
  background-size: cover;
  background-position: center;
}

header {
  height: 200px;
  width: 100%;
  background-color: #9B9B9B;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 5px solid aqua;
  border-radius: 10px;
  & h1 {
     text-align: center;
     font-family: 'Stalinist One', cursive;
     padding-top: 60px;
     font-size: 60px;
     font-weight: 700;
     color: #9B9B9B;
     -webkit-text-stroke: 2px #585958;
 }
}

button {
  width: 30%;
  height: 50px;
  margin: 5px;
  // float:left;
  display: inline-block;
  border-radius: 15px;
}


main {
  background-color: #9B9B9B;
  border-radius: 15px;
  border: 5px solid aqua;
  width: 80%;
  height: 65%;
  max-width: 900px;
  padding: 50px;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}

h1, h3 {
  margin-top: 0;
}

h3 {
  margin-bottom: 20px;
  color: white;
  &.welcome{
    font-size: 50px;
  }
}

button {
  background-color: #1d1075;
  color: #1ab1a5;
  border: 1px solid #d11d05;
  padding: 6px 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;

  &.start-button {
    background-color: #d11d05;
    color: #b000b5;
    border: 1px solid #d11d05;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    margin: 20px 0;
  }
}

button:hover {
  background-color: #b000b5;
  color: yellow;
}

button:focus {
  outline: none;
}

p {
  color: white;
  
  &.question-header {
      font-size: 30px;
    }
}




button {
  &.answer {
    width: calc(50% - 3px);
    &:nth-child(odd) {
      margin-right: 6px;
      float:left;
    }
  }
  &.helper {
    width: calc(33.33% - 4px);
    float:left;
    &:not(:last-of-type) {
      margin-right: 6px;
    height: 100px;
    }
  &.choice3 {
    height:100px;
  }
  }
}


.high-score, .score {
  font-weight: bold;
  color: #d11d05;
}

img#audience {
  max-height: 200px;
  width: auto;

}
.graph {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bar {
  display: inline-block;
  vertical-align: bottom;
  background-color: #d11d05;
  width: 30px;
  height: 0;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 0;
  width: 25%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.bar:nth-of-type(1) {
  left: 0;
  background-color: yellow;
}

.bar:nth-of-type(2) {
  left: 25%;
  background-color: red;
}

.bar:nth-of-type(3) {
  left: 50%;
  background-color: green;
}

.bar:nth-of-type(4) {
  left: 75%;
  background-color: blue;
}

.options, .results {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.options li, .results li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 10px;
  color: white;
}


footer {
  text-align: center;
  height: 40px;
  color: white;
  background-color: black;
  width: 100%;

}
